@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

.wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    width: 300px;
    height: 500px;
    min-width: 180px;
    background-color: hsl(0, 0%, 100%);
}

.box_img {
    width: 300px;
    height: 300px;
    border-radius: 8%;
    background: url("./images/image-qr-code.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    clip-path: inset(10% 5% 10% 5% round 2rem 2rem 2rem 2rem);
}

.box_txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    text-align: center;
}

.box_txt_title{
    display: flex;
    color: hsl(218, 44%, 22%); 
    margin: 0;
}

.box_txt_detail{
    display: flex;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0%;
    margin-bottom: 1rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}