.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-size: 15px;
    font: 15px Outfit;
    overflow-y: hidden;
    overflow-x: hidden;
}
.wrap{
    height: 90vh;
    width: 100vw;
    min-height: 150px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box_container {
    border-radius: 1rem;
}
.box_img {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    background: url("./images/image-qr-code.png");
    background-size: contain;
    clip-path: inset(10% 10% 10% 10% round 10% 10% 10% 10%);
}